.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffff;
  padding: 10px;
}
.not-found-img {
  width: 450px;
}
