.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #152850;
  padding: 10px;
}
.login-card {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 700px;
  height: 400px;
  background-color: #e0eefe;
  border-radius: 10px;
}

.Login-image {
  width: 400px;
  padding-top: 30px;
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
}
.input {
  margin-top: 20px;
  height: 30px;
  box-shadow: 1px #e0eefe;
  border-radius: 10px;
}
.heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #152850;
  font-weight: bold;
  margin-top: 10px;
}
.btn {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffff;
  font-weight: bold;
  margin-top: 10px;
  height: 40px;
  width: 70px;
  background-color: #1565d8;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 20px;
  cursor: pointer;
}
.errorMsg {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ff0b37;
  font-weight: bold;
  margin-top: 10px;
}
